## Read files like Be8_SIII_new.txt

**Naming convention: YYMMDD_Be8**

To use this notebook to generate input for vqe:
1. Provides source file name labeled(#filename)
2. Parameters are to be output in the format of a list 
```
the list = [num_orbitals,num_spin_orbitals,num_particles,num_spatial_orbitals]
```




### DATA ID
# 209_Be8

In [1]:
data_ID = "209_Be8"

In [2]:
from utils import *
## Computation config ## 
pcname = "Hpc" #or "Hlp" or Ypc"
quan_algo = "VQE"    ## (string)(VQE or adaptVQE)
## Source File input ##

### The following doesnt require setting up, unless file naming is different
obs_onebody_csv = data_ID+"/"+data_ID+"-1B_H_input.csv"
obs_twobody_csv = data_ID+"/"+data_ID+"-2B_H_input.csv"
parameter_py = data_ID+"/"+"parameter.txt"

def pathfilename_gen(pcname_:"string", input_dir_:"string")->"string , string , dict":
    ## Setting up the path (now is directory where compute.py is ran)
    current_path = os.getcwd()                     # Current path(which is the Compute dir)
    try:
        abs_main                                   # Check if the abs_main was defined before
    except:
        abs_main = os.path.dirname(current_path)   # Main directory containing the compute dir
    os.chdir(abs_main)                             # Change dir to main dir(so called absolute main directory)

    abspath_data_dir = os.path.join(abs_main,"Data")
    abspath_result_dir = os.path.join(abs_main,"Result")
    
    #### Extract index for next dir and filename
    rel_path_result = os.path.relpath("Result",abs_main)
    rel_PATH_result = (Path(rel_path_result))
    subresult_dir_list = [str(x) for x in rel_PATH_result.iterdir() if x.is_dir()]
    if len(subresult_dir_list) == 0:
        new_index = 1
    else:
        latest_result_dir = (max(subresult_dir_list,key=extract_number))
        new_index = extract_number(latest_result_dir)[0]+1
    
    #### Create a new directory to keep new results
    ##### Extract neucleus name
    input_dir_dum = re.split('-|_|\\.', input_dir_)
    nucleus_name = input_dir_dum[1]
    output_id = pcname_ + "_" + "{:03d}".format(new_index) + "_"
    subresult_dir_name = os.path.join(rel_path_result,output_id+nucleus_name)
    os.mkdir(subresult_dir_name)
    subresult_dir = os.path.join(subresult_dir_name,output_id+nucleus_name)
    ### Using a dictionary to store the file names to be used
    pathfilename = {}
    #### Input filenames or path
    pathfilename["source_text"] = os.path.join(abspath_data_dir, input_dir_)
    #### Output # only ready to be input as fermionic op is considered not source
    pathfilename["output_1B-source_csv"] =  subresult_dir + "-1B-source.csv"
    pathfilename["output_2B-source_csv"] =  subresult_dir + "-2B-source.csv"
    pathfilename["output_1B-H_input_csv"] = subresult_dir + "-1B-H_input.csv"
    pathfilename["output_2B-H_input_csv"] = subresult_dir + "-2B-H_input.csv"
    pathfilename["abstract_result"] = subresult_dir + "-vqe_abst.txt"
    pathfilename["full_result"] = subresult_dir + "-vqe_full.txt"
    return abs_main, nucleus_name, pathfilename

# abs_main, nucleus, pathfilename = pathfilename_gen(pcname,input_dir)
# pathfilename

In [3]:
text_two = []
with open("source\Be8_SIII_new\Vpair_Vdelta_800.txt", 'rt') as myfile:    #filename
# with open("source/Be8_SIII_new/Vpair_Vdelta_800.txt", 'rt') as myfile:    #filename
    for line in myfile:
        line = line.rstrip('\n')
        text_two.append(line)

# Parameters

In [4]:
num_orbitals = (6,6)
num_particles = (4,4)
num_spin_orbitals = 12
num_spatial_orbitals = int(num_spin_orbitals/2)

# Onebody source setup (copy nia)

In [5]:
import pandas as pd
index_list = list(range(0,14,1))

energy = {"index": index_list, 
          "epsilon":[-26.148,-26.148,-10.870,-10.870,-10.853,-10.853,-4.162,-4.162,-31.311,-31.311,-15.475,-15.475,-15.459,-15.459]}


obs_onebody_df_source = pd.DataFrame(energy)

# Twobody Matrix Terms source

In [21]:
## the line being popped, is the line with labels, the list is preprocessed for df construct 
import re
pattern = re.compile("isospin")
if pattern.search(text_two[0]) is not None:
    text_two.pop(0)

pairs = [[1,2],[3,4],[5,6],[7,8]]
obs_twobody_df_source = pd.DataFrame(columns =["q_i1", "q_i2", "q_f1", "q_f2", "V_ffii"])
for counter, line in enumerate(text_two): 
    splitted = line.split()
    if int(splitted[0]) == 1:
        for x in pairs:
            if int(splitted[1]) in x:
                init = x
            if int(splitted[2]) in x:
                fina = x
        init = (init[0]-1,init[1]-1) # minus 1 because the index in python starts with 0
        fina = (fina[0]-1,fina[1]-1)
        V_pair = float(splitted[3])
    if int(splitted[0]) ==2:
        for x in pairs:
            if int(splitted[1]) in x:
                init = x
            if int(splitted[2]) in x:
                fina = x
        init = (init[0]+5,init[1]+5) # plus 5 because the index in python starts with 0; and proton'index starts after neutron's
        fina = (fina[0]+5,fina[1]+5)
        V_pair = float(splitted[3])
    V_pair = round(V_pair,6)
    obs_twobody_df_source.loc[counter] = [init[0],init[1],fina[0],fina[1],round(V_pair,5)]
    obs_twobody_df_source.loc[3*counter+1] = [fina[0],fina[1],init[0],init[1],round(V_pair,5)]
    
    obs_twobody_df_source.loc[6*counter] = [init[1],init[0],fina[0],fina[1],round(V_pair,5)]
    obs_twobody_df_source.loc[9*counter] = [init[1],init[0],fina[1],fina[0],round(V_pair,5)]
    obs_twobody_df_source.loc[12*counter] = [init[0],init[1],fina[1],fina[0],round(V_pair,5)]
    obs_twobody_df_source.loc[15*counter] = [fina[1],fina[0],init[0],init[1],round(V_pair,5)]
    obs_twobody_df_source.loc[18*counter] = [fina[1],fina[0],init[1],init[0],round(V_pair,5)]
    obs_twobody_df_source.loc[21*counter] = [fina[0],fina[1],init[1],init[0],round(V_pair,5)]
    del init, fina
obs_twobody_df_vqe = obs_twobody_df_source.copy()

In [22]:
obs_twobody_df_vqe.drop_duplicates(inplace=True)
obs_twobody_df_vqe = obs_twobody_df_vqe.drop_duplicates().reset_index()
obs_twobody_df_vqe

    index  q_i1  q_i2  q_f1  q_f2    V_ffii
0       0   0.0   1.0   1.0   0.0 -12.79651
1       1   0.0   1.0   2.0   3.0  -6.56479
2       4   2.0   3.0   4.0   5.0  -4.24179
3       6   6.0   7.0   6.0   7.0 -12.59602
4       9   8.0   9.0   8.0   9.0  -6.25497
..    ...   ...   ...   ...   ...       ...
67    666   3.0   2.0   1.0   0.0  -6.56479
68    684   5.0   4.0   1.0   0.0  -6.52659
69    600   5.0   4.0   2.0   3.0  -4.24179
70    720   5.0   4.0   3.0   2.0  -4.24179
71    660  11.0  10.0   6.0   7.0  -6.41427

[72 rows x 6 columns]

In [8]:
# ## To generate twobody terms that elimiated the first 2 two hartree fock states 
# ## (basically consider a helium core, and dont allow the lowest pair to participate the pariing interaction)

# for index, row in obs_twobody_df_vqe.iterrows():
#     if (row['q_i1'] == 0) or (row['q_f1'] == 0) or (row['q_i1'] == 6) or (row['q_f1'] == 6):
#         obs_twobody_df_vqe.drop(index,inplace=True)

# obs_twobody_df_vqe

# Filter out unwanted interactions from obs_twobody_df
# Create obs_twobody_H_input_df_output (input for VQE)

In [23]:
obs_twobody_df_vqe=obs_twobody_df_vqe.sort_values(["q_i1","q_f1"])
obs_twobody_df_vqe = obs_twobody_df_vqe.reset_index()
obs_twobody_df_vqe = obs_twobody_df_vqe[["q_i1","q_i2","q_f1","q_f2","V_ffii"]]
obs_twobody_df_vqe.to_csv(obs_twobody_csv)
obs_twobody_df_vqe

    q_i1  q_i2  q_f1  q_f2    V_ffii
0    0.0   1.0   0.0   1.0 -12.79651
1    0.0   1.0   1.0   0.0 -12.79651
2    0.0   1.0   2.0   3.0  -6.56479
3    0.0   1.0   3.0   2.0  -6.56479
4    0.0   1.0   4.0   5.0  -6.52659
..   ...   ...   ...   ...       ...
67  11.0  10.0   7.0   6.0  -6.41427
68  11.0  10.0   8.0   9.0  -4.15517
69  11.0  10.0   9.0   8.0  -4.15517
70  11.0  10.0  10.0  11.0  -6.22176
71  11.0  10.0  11.0  10.0  -6.22176

[72 rows x 5 columns]

# Create obs_onebody_df_vqe (input for VQE)

In [10]:
obs_onebody_df_source

    index  epsilon
0       0  -26.148
1       1  -26.148
2       2  -10.870
3       3  -10.870
4       4  -10.853
5       5  -10.853
6       6   -4.162
7       7   -4.162
8       8  -31.311
9       9  -31.311
10     10  -15.475
11     11  -15.475
12     12  -15.459
13     13  -15.459

In [11]:
# fermin = (-10.853 + (-4.162))/2
# fermip = (-15.475 + (-15.459))/2

### Below consider energy differences between levels
obs_onebody_df_vqe = pd.DataFrame(columns =['q_i','q_f','epsilon'])

### init_fina_list
epsilon_list = obs_onebody_df_source.loc[:,"epsilon"]
import math
for counter, i in enumerate(epsilon_list):
    epsilon = i
#     if counter < num_orbitals[0]:
#         epsilon = math.sqrt((i - (fermin))**2)
#     if counter >= num_orbitals[0]:
#         epsilon = math.sqrt((i - (fermip))**2)
    obs_onebody_df_vqe.loc[counter] = [counter,counter, round(epsilon,6)]

# obs_onebody_df_vqe.to_csv(obs_onebody_csv)
obs_onebody_df_vqe

     q_i   q_f  epsilon
0    0.0   0.0  -26.148
1    1.0   1.0  -26.148
2    2.0   2.0  -10.870
3    3.0   3.0  -10.870
4    4.0   4.0  -10.853
5    5.0   5.0  -10.853
6    6.0   6.0   -4.162
7    7.0   7.0   -4.162
8    8.0   8.0  -31.311
9    9.0   9.0  -31.311
10  10.0  10.0  -15.475
11  11.0  11.0  -15.475
12  12.0  12.0  -15.459
13  13.0  13.0  -15.459

In [12]:
# %store promotion_list
# %store num_orbitals
# %store num_particles
# %store num_spin_orbitals
# %store obs_onebody_df_vqe
# %store obs_twobody_df
# %store abs_main
# %store pathfilename
# %store nucleus_name

In [24]:
obs_twobody_df = obs_twobody_df_vqe
from qiskit_nature.second_q.operators import FermionicOp
import pandas as pd
tmp_ham = {}
two_factor = 0.5
### Two body Terms: Pairing interaction
for index, row in obs_twobody_df.iterrows():
    init_1 = int(row['q_i1']); init_2 = int(row['q_i2']);
    fina_1 = int(row['q_f1']); fina_2 = int(row['q_f2']);
    the_twostring = "+_" +str(fina_1) + " " + "+_" +str(fina_2) + " " + "-_" +str(init_1) + " " + "-_" +str(init_2)
    tmp_ham[the_twostring] = two_factor*row['V_ffii']
len(tmp_ham)

72

In [25]:
Hamiltonian = FermionicOp(tmp_ham, 
                          num_spin_orbitals=num_spin_orbitals, 
                          copy=False)

In [26]:
print(Hamiltonian)

Fermionic Operator
number spin orbitals=12, number terms=72
  -6.398255 * ( +_0 +_1 -_0 -_1 )
+ -6.398255 * ( +_1 +_0 -_0 -_1 )
+ -3.282395 * ( +_2 +_3 -_0 -_1 )
+ -3.282395 * ( +_3 +_2 -_0 -_1 )
+ -3.263295 * ( +_4 +_5 -_0 -_1 )
+ -3.263295 * ( +_5 +_4 -_0 -_1 )
+ -6.398255 * ( +_0 +_1 -_1 -_0 )
+ -6.398255 * ( +_1 +_0 -_1 -_0 )
+ -3.282395 * ( +_2 +_3 -_1 -_0 )
+ -3.282395 * ( +_3 +_2 -_1 -_0 )
+ -3.263295 * ( +_4 +_5 -_1 -_0 )
+ -3.263295 * ( +_5 +_4 -_1 -_0 )
+ -3.282395 * ( +_0 +_1 -_2 -_3 )
+ -3.282395 * ( +_1 +_0 -_2 -_3 )
+ -3.192475 * ( +_2 +_3 -_2 -_3 )
+ -3.192475 * ( +_3 +_2 -_2 -_3 )
+ -2.120895 * ( +_4 +_5 -_2 -_3 )
+ -2.120895 * ( +_5 +_4 -_2 -_3 )
+ -3.282395 * ( +_0 +_1 -_3 -_2 )
+ -3.282395 * ( +_1 +_0 -_3 -_2 )
+ -3.192475 * ( +_2 +_3 -_3 -_2 )
+ -3.192475 * ( +_3 +_2 -_3 -_2 )
+ -2.120895 * ( +_4 +_5 -_3 -_2 )
+ -2.120895 * ( +_5 +_4 -_3 -_2 )
+ -3.263295 * ( +_0 +_1 -_4 -_5 )
+ -3.263295 * ( +_1 +_0 -_4 -_5 )
+ -2.120895 * ( +_2 +_3 -_4 -_5 )
+ -2.120895 * ( +_3 +_2 -_4 -_5 )
+ -3.175725 * ( +_4 +_5 -_4 -_5 )
+ -3.175725 * ( +_5 +_4 -_4 -_5 )
+ -3.263295 * ( +_0 +_1 -_5 -_4 )
+ -3.263295 * ( +_1 +_0 -_5 -_4 )
+ -2.120895 * ( +_2 +_3 -_5 -_4 )
+ -2.120895 * ( +_3 +_2 -_5 -_4 )
+ -3.175725 * ( +_4 +_5 -_5 -_4 )
+ -3.175725 * ( +_5 +_4 -_5 -_4 )
+ -6.29801 * ( +_6 +_7 -_6 -_7 )
+ -6.29801 * ( +_7 +_6 -_6 -_7 )
+ -3.22585 * ( +_8 +_9 -_6 -_7 )
+ -3.22585 * ( +_9 +_8 -_6 -_7 )
+ -3.207135 * ( +_10 +_11 -_6 -_7 )
+ -3.207135 * ( +_11 +_10 -_6 -_7 )
+ -6.29801 * ( +_6 +_7 -_7 -_6 )
+ -6.29801 * ( +_7 +_6 -_7 -_6 )
+ -3.22585 * ( +_8 +_9 -_7 -_6 )
+ -3.22585 * ( +_9 +_8 -_7 -_6 )
+ -3.207135 * ( +_10 +_11 -_7 -_6 )
+ -3.207135 * ( +_11 +_10 -_7 -_6 )
+ -3.22585 * ( +_6 +_7 -_8 -_9 )
+ -3.22585 * ( +_7 +_6 -_8 -_9 )
+ -3.127485 * ( +_8 +_9 -_8 -_9 )
+ -3.127485 * ( +_9 +_8 -_8 -_9 )
+ -2.077585 * ( +_10 +_11 -_8 -_9 )
+ -2.077585 * ( +_11 +_10 -_8 -_9 )
+ -3.22585 * ( +_6 +_7 -_9 -_8 )
+ -3.22585 * ( +_7 +_6 -_9 -_8 )
+ -3.127485 * ( +_8 +_9 -_9 -_8 )
+ -3.127485 * ( +_9 +_8 -_9 -_8 )
+ -2.077585 * ( +_10 +_11 -_9 -_8 )
+ -2.077585 * ( +_11 +_10 -_9 -_8 )
+ -3.207135 * ( +_6 +_7 -_10 -_11 )
+ -3.207135 * ( +_7 +_6 -_10 -_11 )
+ -2.077585 * ( +_8 +_9 -_10 -_11 )
+ -2.077585 * ( +_9 +_8 -_10 -_11 )
+ -3.11088 * ( +_10 +_11 -_10 -_11 )
+ -3.11088 * ( +_11 +_10 -_10 -_11 )
+ -3.207135 * ( +_6 +_7 -_11 -_10 )
+ -3.207135 * ( +_7 +_6 -_11 -_10 )
+ -2.077585 * ( +_8 +_9 -_11 -_10 )
+ -2.077585 * ( +_9 +_8 -_11 -_10 )
+ -3.11088 * ( +_10 +_11 -_11 -_10 )
+ -3.11088 * ( +_11 +_10 -_11 -_10 )

In [27]:
Hamiltonian.is_hermitian()

True