In [1]:
## Extracting portions of txt files ref : https://www.computerhope.com/issues/ch001721.htm
## Config
input_txt = r'result_Be9-copy.txt'

In [2]:
## Package used
import os
from pathlib import Path
import re
import pandas as pd
from fractions import Fraction
import numpy as np

### Functions used
def remove_line(energy_list:"list",line_pattern:'str')->"list":
    pattern_target = re.compile(line_pattern)
    for line in energy_list:
        if pattern_target.search(line) != None:
            energy_list.remove(line)
    return energy_list

def remove_character(the_string:'str', to_remove_char:'str')->'str':
    pattern_target = re.compile(to_remove_char)
    to_replace = list(to_remove_char)
    if pattern_target.search(the_string) != None:
        for char in to_replace:
            the_string = the_string.replace(char,"")
    return the_string

def identify_line(text_file:'str',pattern_start:'str', pattern_end:'str')->tuple:
    pat_start = re.compile(pattern_start)
    pat_end = re.compile(pattern_end)
    line_start_counter = []
    line_end_counter = []
    
    for counter, line in enumerate(text_whole):
        if pat_start.search(line) != None:
            line_start_counter.append(counter)
        else:
            pass
        if pat_end.search(line):
            line_end_counter.append(counter)
        else:
            pass
    output_line_counter = line_start_counter + line_end_counter
#     if len(output_line_counter) >= 3:
#         print('repeated patterns found for: ', pattern_end, ' and ', pattern_start)
#     else:
#         pass
    return output_line_counter

In [3]:
## setting up the path 
main_dir_path = Path(os.getcwd())
assess = str(main_dir_path); assess = (assess.split("\\")); assess.reverse()
while assess[0] != "VQE_pair":
    main_dir_path = main_dir_path.parent
    assess = str(main_dir_path); assess = (assess.split("\\")); assess.reverse()
os.chdir(main_dir_path)
input_txt = os.path.join(main_dir_path, 'Data', input_txt)

### Using a dictionary to store the file names to be used
filenames = {}
#### Input
filenames["input_file"] = input_txt   ## source data file name must be in /Data/source_data.txt
filenames["input_file_split"] = re.split('-|_|\\.', filenames["input_file"])
nucleus_name = filenames["input_file_split"][2]
# #### Output
filenames["output_1B_source_csv"] =  os.path.join(main_dir_path,"Data",nucleus_name+"-1B-source.csv")
filenames["output_2B_source_csv"] =  os.path.join(main_dir_path,"Data",nucleus_name+"-2B-source.csv")
filenames["config_output_py"] = os.path.join(main_dir_path,"Data",nucleus_name+"_num_config.py")

In [20]:
## Reading the txt file and convert to a list object
text_whole = []
with open (filenames["input_file"], 'rt') as myfile:    
    for line in myfile:
        line = line.rstrip('\n')
        text_whole.append(line)

## Extract 2body matrix elements information
extracted_2body = []
pattern_hf = re.compile("HF INDEX AND ISOSPIN")
for line in text_whole:
    if pattern_hf.search(line) != None:      # If a match is found
        extracted_2body.append((line.rstrip('\n')).lstrip('HF INDEX AND ISOSPIN'))
### Store the information extracted into a dataframe; and output them as csv for later viewing/assessment
obs_twobody_df = pd.DataFrame(columns = ["q_i1","q_i2","q_f1","q_f2","V_ffii","hf_lvl_i1","iso_i1","hf_lvl_i2","iso_i2","hf_lvl_f1","iso_f1","hf_lvl_f2","iso_f2"])
for counter, extracted_2body_row in enumerate(extracted_2body):
    row_split = extracted_2body_row.split()
    dummy_q_i1 = np.nan; dummy_q_i2 = np.nan; dummy_q_f2 = np.nan; dummy_q_f2 = np.nan; #q is qubit; i1,i2,f1,and f2  qubit indeces
    dummy_V_ffii = float(row_split[8])
    dummy_hfl_i1 = int(row_split[0]); dummy_iso_i1 = int(row_split[1])
    dummy_hfl_i2 = int(row_split[2]); dummy_iso_i2 = int(row_split[3])
    dummy_hfl_f1 = int(row_split[4]); dummy_iso_f1 = int(row_split[5])
    dummy_hfl_f2 = int(row_split[6]); dummy_iso_f2 = int(row_split[7])

    appending_row = [
        dummy_q_i1,dummy_q_i2,dummy_q_f2,dummy_q_f2,dummy_V_ffii
        dummy_hfl_i1,dummy_iso_i1,
        dummy_hfl_i2,dummy_iso_i2,
        dummy_hfl_f1,dummy_iso_f1,
        dummy_hfl_f2,dummy_iso_f2]
    obs_twobody_df.loc[counter] = appending_row
obs_twobody_df_output = obs_twobody_df.copy()




obs_twobody_df_output.to_csv(filenames["output_2B_source_csv"])

,q_i1,q_i2,q_f1,q_f2,V_ffii,hf_lvl_i1,iso_i1,hf_lvl_i2,iso_i2,hf_lvl_f1,iso_f1,hf_lvl_f2,iso_f2
0,NaN,NaN,NaN,NaN,3.0,1.0,4.0,1.0,3.0,1.0,4.0,1.0,-10.344930
1,NaN,NaN,NaN,NaN,3.0,1.0,4.0,1.0,3.0,1.0,7.0,1.0,-1.393732
2,NaN,NaN,NaN,NaN,3.0,1.0,4.0,1.0,4.0,1.0,8.0,1.0,1.393732
3,NaN,NaN,NaN,NaN,3.0,1.0,4.0,1.0,5.0,1.0,6.0,1.0,-4.441718
4,NaN,NaN,NaN,NaN,3.0,1.0,4.0,1.0,7.0,1.0,8.0,1.0,3.777735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,NaN,NaN,NaN,NaN,9.0,2.0,10.0,2.0,3.0,2.0,8.0,2.0,0.921193
957,NaN,NaN,NaN,NaN,9.0,2.0,10.0,2.0,4.0,2.0,7.0,2.0,-0.921193
958,NaN,NaN,NaN,NaN,9.0,2.0,10.0,2.0,5.0,2.0,6.0,2.0,-3.117457
959,NaN,NaN,NaN,NaN,9.0,2.0,10.0,2.0,7.0,2.0,8.0,2.0,2.878104
960,NaN,NaN,NaN,NaN,9.0,2.0,10.0,2.0,9.0,2.0,10.0,2.0,-6.957626

In [5]:
# Parameters extractions

## Extraction of num_particles data; Create a new class of object called num_orbitals
## Below the number of particles and orbitals all refer to the valence"s
## Valence!! VALENCE!!
pattern_num_particles = re.compile("isospin label Omega pi   energy  occupation partner_n partner_p")
num_particles = [None,None]
num_nucleon_orbitals = [None,None]

## Extract particles number information
pattern_energy_start = "-------------------- Lower bound for Pairing Valence Space -------------------------"
pattern_energy_end   = "-------------------- Upper bound for Pairing Valence Space -------------------------"
energy_block_id = identify_line(text_whole, pattern_energy_start,pattern_energy_end);
energy_block_id.sort()

energy_neut_list = text_whole[energy_block_id[0]+1: energy_block_id[1]]
energy_prot_list = text_whole[energy_block_id[2]+1: energy_block_id[3]]
energy_neut_list = remove_line(energy_neut_list,"Fermi")
energy_prot_list = remove_line(energy_prot_list,"Fermi")

num_neut_list = []; num_prot_list = []
for line in energy_neut_list:
    num_neut_list.append(int(line[53:55]))
for line in energy_prot_list:
    num_prot_list.append(int(line[53:54]))
### Summary of this Block
num_particles[0] = sum(num_neut_list); num_particles[1] = sum(num_prot_list); num_particles = tuple(num_particles)
num_neut_orbitals = len(energy_neut_list); num_prot_orbitals = len(energy_prot_list)
num_nucleon_orbitals[0] = num_neut_orbitals; num_nucleon_orbitals[1] = num_prot_orbitals; num_nucleon_orbitals = tuple(num_nucleon_orbitals)
num_spin_orbitals = sum(num_nucleon_orbitals)
### SUMMARY END ###

## Spin property extraction

## onebody matrix informations terms

In [6]:
# Extract onebody information
## Store the onebody terms into panda dataframes and export as csv
obs_onebody_df = pd.DataFrame(columns = ["q_i","spin","epsilon","hf_lvl","iso"])

for counter, line in enumerate(energy_neut_list+energy_prot_list):
    dummy_spin = None
    dummy_iso = None
    dummy_df_row = []
    line = line.replace(')',' ')
    line = remove_character(line,'()')
    split_list = line.split()
    if int(split_list[6]) == 1:
        dummy_iso = 1
    elif int(split_list[6]) == -1:
        dummy_iso = 2
    else: 
        pass

    if  float(Fraction(split_list[2])) < 0:
        dummy_spin = -1
    elif float(Fraction(split_list[2])) > 0:
        dummy_spin = 1
    else:
        pass
    dummy_hf_lvl = int(split_list[1])
    dummy_epsilon = float(split_list[4])
    dummy_df_row = [np.nan,dummy_spin,dummy_epsilon,dummy_hf_lvl,dummy_iso]
    obs_onebody_df.loc[counter] = dummy_df_row

obs_onebody_df.to_csv(filenames['output_1B_source_csv'])
obs_onebody_df

     i  spin    epsilon  hf_lvl  iso
0  NaN  -1.0 -12.887102     3.0  1.0
1  NaN   1.0 -12.887102     4.0  1.0
2  NaN   1.0  -9.209033     5.0  1.0
3  NaN  -1.0  -9.209033     6.0  1.0
4  NaN   1.0  -2.749433     7.0  1.0
5  NaN  -1.0  -2.749433     8.0  1.0
6  NaN   1.0  -1.671426     9.0  1.0
7  NaN  -1.0  -1.671426    10.0  1.0
8  NaN  -1.0   1.398301    11.0  1.0
9  NaN   1.0   1.398301    12.0  1.0
10 NaN   1.0 -13.754586     3.0  2.0
11 NaN  -1.0 -13.754586     4.0  2.0
12 NaN   1.0 -11.443208     5.0  2.0
13 NaN  -1.0 -11.443208     6.0  2.0
14 NaN   1.0  -4.614206     7.0  2.0
15 NaN  -1.0  -4.614206     8.0  2.0
16 NaN  -1.0  -1.909829     9.0  2.0
17 NaN   1.0  -1.909829    10.0  2.0

In [7]:
## config particles and orbitals number
with open(filenames['config_output_py'],'w') as myfile:
    myfile.write("num_particles = "+ str(num_particles))
    myfile.write("\nnum_nucleon_orbitals = "+ str(num_nucleon_orbitals))
    myfile.write("\nnum_spin_orbitals = "+ str(num_spin_orbitals))

In [8]:
## to improve next time: 
## connect the gap between this to producing proper matrix elements that is fed directly into the VQE algorithm.

In [9]:
## Static Helium core, level 1 and 2 not involved
## return the indexing to python style: aka start from 0 (orbitals)
## to prepare to encode the single particles states onto the qubits

### the index(hf_lvl) starts at 3 for proton and neutrons
n_start = int(energy_neut_list[0][7:10].strip())
p_start = int(energy_prot_list[0][7:10].strip())

# obs_twobody_df
## Defining orbital indeces
# obs_twobody_df['i1'] = obs_twobody_df['i1'].add(obs_twobody_df['iso'  ].mul(8) -8) ; #define respective index for n and p
# obs_twobody_df['i2'] = obs_twobody_df['i2'].add(obs_twobody_df['iso.1'].mul(8) -8) ; 
# obs_twobody_df['f1'] = obs_twobody_df['f1'].add(obs_twobody_df['iso.2'].mul(8) -8) ; 
# obs_twobody_df['f2'] = obs_twobody_df['f2'].add(obs_twobody_df['iso.3'].mul(8) -8) ; 



# obs_twobody_df['i1'] = obs_twobody_df['i1'] - n_start ; obs_twobody_df['i2'] = obs_twobody_df['i2'] - f_start 
# obs_twobody_df['f1'] = obs_twobody_df['f1'] - i2_start ; obs_twobody_df['f2'] = obs_twobody_df['f2'] - f_start

In [10]:
i2_start = energy_neut_list[0][7:10].strip()
print((i2_start))

3

In [11]:
obs_onebody_df_copy = obs_onebody_df.copy()

for index, row in obs_onebody_df_copy.iterrows():
    if row["iso"] == 1:
        row["q_i"] = row["hf_lvl"] - n_start
    elif row["iso"] == 2:
        row["q_i"] = row["hf_lvl"] - p_start + num_nucleon_orbitals[0]

# obs_onebody_df_copy['hf_lvl'] = obs_onebody_df_copy['hf_lvl'].add(obs_onebody_df_copy['iso'].mul(8) -8)
# obs_onebody_df_copy['hf_lvl'] = obs_onebody_df_copy['hf_lvl']- 3
obs_onebody_df_copy

       i  spin    epsilon  hf_lvl  iso
0    0.0  -1.0 -12.887102     3.0  1.0
1    1.0   1.0 -12.887102     4.0  1.0
2    2.0   1.0  -9.209033     5.0  1.0
3    3.0  -1.0  -9.209033     6.0  1.0
4    4.0   1.0  -2.749433     7.0  1.0
5    5.0  -1.0  -2.749433     8.0  1.0
6    6.0   1.0  -1.671426     9.0  1.0
7    7.0  -1.0  -1.671426    10.0  1.0
8    8.0  -1.0   1.398301    11.0  1.0
9    9.0   1.0   1.398301    12.0  1.0
10  10.0   1.0 -13.754586     3.0  2.0
11  11.0  -1.0 -13.754586     4.0  2.0
12  12.0   1.0 -11.443208     5.0  2.0
13  13.0  -1.0 -11.443208     6.0  2.0
14  14.0   1.0  -4.614206     7.0  2.0
15  15.0  -1.0  -4.614206     8.0  2.0
16  16.0  -1.0  -1.909829     9.0  2.0
17  17.0   1.0  -1.909829    10.0  2.0

In [12]:
type(obs_onebody_df['hf_lvl'][2])

numpy.float64